 /* navbar brand styles set */
 .navbar-brand {
     text-emphasis: none;
     text-align: center;
     background-color: darkgray;
     color: red;
     font-weight: bolder;
     font-family: 'Times New Roman', Times, serif;
     font-size: xx-large;
 }
 
 
 /*body attributes*/
.body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    background-image: url(./cold\ play.jpg); 
  }

  /* quiz-guide atrributes */
  .quiz-guide {
      font-size: x-large;
      background-image: url(./cold\ play.jpg);
      background-color: none;
      font-weight: bolder;
      font-stretch: expanded;
      color: black;
  }

  /* cardtitle styles */
  .card-title {
 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: underline;
    background-color:blue;
  }
  
    /* line attributes */
    li {
        padding-bottom: 2px;
        color:red;
       list-style-type: none;
       font-style: italic;
       font-weight: bolder;
       font-size: xx-large;
    }
    
    /* paragraph attributes */
    p {
        color:white;
        text-align: center;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
    
    }

 /* header 2  */
    h2{
        font-family: 'Times New Roman', Times, serif;
        margin-top: -.10rem;
    }

    /* input text will be in the center */
    input{
        text-align: center;
    }
    
    /* conatiner attributes */
    .container {
        width: 120vw;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70rem;
        margin: 0 auto;
      }
    
      /* button features */
      button {
        
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color:red;
        border: 3px double #cccccc;
        color:white;
        text-align: center;
        
      }
    
     /* start page atrributes */
    #startpage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* timer features */
    #timer{
        font-family: 'Times New Roman', Times, serif;
        background-color: yellowgreen;
        color:white;
        font-size: x-large;
        text-align: center;
    }

    /* quiz background color will be gray */
    #quiz {
        display: none;
        background-color: gray;
    }
    
    #result {
        display: none;
    }
    
    /* game over display atrributes */
    #gameover {
        text-align: center;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    /* highscore border and height set */
    #highScore{
        height: 2rem;
        border: 1.5px;
    }
    
    /* highscore page attributes */
    #high-scorePage{
        display: none;
        width: 50%;
        border: solid;
        border-color: silver;
        border-bottom-style: groove;
        padding-bottom: .3rem;
        background: lightsteelblue;
    }
    
    /* highscore header styles */
    #highscore-header{
        display:flex;
        justify-content: space-around;
        border-bottom-style: outset;
        margin-bottom: .5rem;
        background-color:black;
        color:wheat;
        font-family: 'Times New Roman', Times, serif;
    }

    /* highscore container atttributes */
    #highscoreContainer{
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
/* initials styles set */
    #initials{
        margin: .5rem;
        height: 2rem;
    }
    
/* atrributes */
    #highscore-initials{
        display: inline-block;
        padding-left: 10em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
    
    /* highscore score style */
    #highscore-score{
        float: right;
        padding-right: 10rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    
    /* final score atrributes set */
    #finalScore{
        padding-bottom: 0.5rem;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
    /* end game display will be none */
    #endGameBtns{
        display: none;
    }